@page
@model Football.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers


<h2>Create</h2>

<p>Enter your name:</p>
<form method="post">
    <div asp-validation-summary="All"></div>
    <div>Name: <input asp-for="Players.PlayerName" /></div>
    <input type="submit" />
</form>
