@page
@model Football.Pages.IndexModel

<h2>Create</h2>

<p>Enter your name:</p>
<form method="post">
    <div asp-validation-summary="All"></div>
    <div>Name: <input asp-for="Player.Name" /></div>
    <input type="submit"/>
</form>
