@page
@model Football.Pages.TeamsModel
@{
    Layout = null;
}

<h1>Players</h1>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>@Model.Teams.RandomizedTeams</td>
                </tr>
        </tbody>
    </table>
</form>

<button><a asp-page="./index">Back to Main Page!</a></button>
