@page
@model Football.Pages.TournamentTreeModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TournamentTree</title>
    <link href="jquery.bracket.min.css" rel="stylesheet" />
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
</head>
<body>
<div class="tournamentTree"></div>
<script src="jquery.min.js"></script>
<script src="jquery.bracket.min.js"></script>
<script>

    var teamsList = @Html.Raw(Model.Teams);

    var teamPairsList = [];

    function shuffle(a) {
        var j, x, i;
        for (i = a.length - 1; i > 0; i--) {
            j = Math.floor(Math.random() * (i + 1));
            x = a[i];
            a[i] = a[j];
            a[j] = x;
        }
        return a;
    }

    function createPairs() {
        shuffle(teamsList);
        for (var i = 0; i < teamsList.length - 1; i = i + 2) {
            teamPairsList.push([teamsList[i], teamsList[i + 1]]);
        }
    }

    createPairs();

    var tournamentData = {
        teams : teamPairsList,
        results : []
    }

    function power_of_2(n) {
        if (typeof n !== 'number') 
            return 'Not a number'; 

        return n && (n & (n - 1)) === 0;
    }

    $(function() {
        $('.tournamentTree').bracket({
            init: tournamentData,
            save: function() {},
            disableTeamEdit: true,
            disableToolbar: true,
            teamWidth: 200
    });
    })

</script>
</body>
</html>
